.footer {
  position: relative;
  padding: 120px 0;

  background: #050510;
  overflow: hidden;
}

.footer__container {
  display: flex;
  justify-content: center;
}
.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle 900px at center,
    rgba(109, 109, 255, 0.45) 0%,
    rgba(76, 26, 151, 0.25) 40%,
    transparent 75%
  );
  pointer-events: none;
  z-index: 0;
}

.footer__circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  position: relative;
  z-index: 1;
}

.footer__title {
  font-family: "Archivo Black";
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
}

.footer__email {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  color: #6d6dff;
}

.footer__email:hover {
  opacity: 0.7;
}

.footer__social {
  display: flex;
  gap: 80px;
}

.footer__social img {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.footer__social img:hover {
  opacity: 1;
}
