.header {
  padding-top: 80px;
  padding-bottom: 80px;
  background:
    radial-gradient(
      circle 700px at calc(50% + 200px) 120px,
      rgba(109, 109, 255, 0.45) 0%,
      transparent 70%
    ),
    #000;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.header__hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
  gap: 24px;
}
.header__name {
  font-family: "Archivo Black";
  font-size: clamp(40px, 6vw, 72px);
  line-height: 1.1;
  color: #ffffff;
}

.header__role {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.5);
}

.header__description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

.link,
.hero-link {
  cursor: pointer;
}

.hero-links {
  display: flex;
  gap: 32px;
  margin-top: 24px;
}

.hero-link {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 8px;
}

.hero-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #4c1a97, #6d6dff);
  height: 5px;
}

.hero-link:hover {
  opacity: 0.7;
}

.header__image {
  margin-top: 40px;
}
.header__image img {
  max-width: 387px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.header__skills-title {
  font-family: "Archivo Black";
  font-size: clamp(28px, 4vw, 40px);
  line-height: 1.2;
  color: #ffffff;
}

.header__skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.header__skills-icons {
  width: 50px;
  height: auto;
}
