@import url("./normalize.css");
@import url("./style.css");
@import url(./blocks/header.css);
@import url(./blocks/content.css);
@import url(./blocks/footer.css);
@import url(./blocks/tabletmedias.css);
@import url(./blocks/movilmedias.css);
