@font-face {
  font-family: "Archivo Black";
  src:
    url("../fonts/ArchivoBlack-Regular.woff2") format("woff2"),
    url("../fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.page {
  background-color: black;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
